<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## <font color=#846FC4>Exercise 1 (Celsius to Farenheit) ☻</font>

You are provided with the following list of temperatures in Celsius. Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures.

In [1]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]                                                                    
#given list of temperatures in celsius
#SPELLING IS SUPER IMPORTANT!!! KEPT WRITING CELCIUS AND GETTING UNDEFINED CRAPPERY. CELSIUS VS CELCIUS!!

for temp in temperatures_celsius:
    print(f"{temp}°C or {temp *9/5 - 32}°F")                             #find formula online for temperature conversion

0°C or -32.0°F
5°C or -23.0°F
10°C or -14.0°F
15°C or -5.0°F
20°C or 4.0°F
25°C or 13.0°F
30°C or 22.0°F
35°C or 31.0°F
40°C or 40.0°F
45°C or 49.0°F
50°C or 58.0°F

## <font color=#C46FAC>Exercise 2 (Multiplication table) ☻</font>

You can put a loop within a loop to do doubly loopy stuff. Here is an example:

In [12]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using **nested** `for` loops. The output should be formatted as shown below:

In [31]:
for i in range(1, 6):                                                           
    print(str(i) + ":", i*1, i*2, i*3, i*4, i*5)          #prints multiplication table but not aligned in a table...
                                                          #wanted to use count and for() function to get : but python keeps returning
                                                          #int is not iterable...

1: 1 2 3 4 5
2: 2 4 6 8 10
3: 3 6 9 12 15
4: 4 8 12 16 20
5: 5 10 15 20 25

In [59]:
layout = "{0:>1}{1:<4}{2:<4}{3:<4}{4:<4}{5:<4}"                               #google beautiful python layout code

for i in range(1, 6):
    print(layout.format(str(i) + " : ", i*1, i*2, i*3, i*4, i*5))             #use format() to left align string to get nice table.

1 : 1   2   3   4   5
2 : 2   4   6   8   10
3 : 3   6   9   12  15
4 : 4   8   12  16  20
5 : 5   10  15  20  25